<!-- Rendered data -->
<div id="name" class="d-none"><%= name %></div>
<div id="roomType" class="d-none"><%= roomType %></div>
<!-- Button that calls the modal popup -->
<!-- Makes the button hidden or shown by default depending on the room type-->
<% if(roomType === 'normal') { %>
<button id="addFriendBtn" type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#addFriendModal">
  Add Friend
</button>
<% } %>
<% if(roomType === 'DM') { %>
  <button id="addFriendBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addFriendModal">
    Add Friend
  </button>
<% } %>
<!-- addFriendModal popup -->
<div class="modal fade" tabindex="-1" role="dialog" id="addFriendModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Friend</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/index/addFriend" method="POST" id="addFriendForm">
          <div class="form-group">
            <label for="inputUser">Username</label>
            <input type="text" class="form-control" name="inputUser" id="inputUser" value=<%- name %> readonly>
          </div>
          <div class="form-group">
            <label for="roomId">Friend Id</label>
            <input type="text" class="form-control" name="friendId" id="friendId" placeholder="Friend Id">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" form="addFriendForm" class="btn btn-primary">Add Friend</button>
      </div>
    </div>
  </div>
</div>