<!-- Switch between Direct Message List and Room List-->
<div class="row" id="chooseYourGroup">
    <div class="col-12">
        <div class="btn-group d-flex" role="group" aria-label="DM/rooms" id="switchRooms">
            <button type="button" id="dmBtn" class="btn btn-dark rounded-0">Direct Message List</button>
            <button type="button" id="roomBtn" class="btn btn-primary rounded-0">Room List</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/ChooseRooms.js"></script>