<div class="btn-group d-flex" role="group" aria-label="DM/rooms" id="switchRooms">
    <button class="btn btn-primary rounded-0">Friend List</button>
    <button class="btn btn-primary rounded-0">Room List</button>
</div>