<!-- Switch between Friend List and Room List-->
<div class="row" id="chooseYourGroup">
    <div class="col-12">
        <div class="btn-group d-flex" role="group" aria-label="DM/rooms" id="switchRooms">
            <button type="button" id="friBtn" class="btn btn-secondary rounded-0">Friend List</button>
            <button type="button" id="roomBtn" class="btn btn-primary rounded-0">Room List</button>
        </div>
    </div>
</div>

<script>
 $(document).ready(() => {
        //Friend List button clicked
        $("#friBtn").click(() => {
            $("#friBtn").removeClass();
            $("#friBtn").addClass("btn btn-primary rounded-0");
            $("#roomBtn").removeClass();
            $("#roomBtn").addClass("btn btn-secondary rounded-0");
            
        });
        //Room List button clicked
        $("#roomBtn").click(() => {
            $("#friBtn").removeClass();
            $("#friBtn").addClass("btn btn-secondary rounded-0");
            $("#roomBtn").removeClass();
            $("#roomBtn").addClass("btn btn-primary rounded-0");
            
        });
    });
</script>