<!--DM LIST-->
<!-- Rendered data -->
<div id="name" class="d-none"><%= name %></div>
<div id="roomId" class="d-none"><%= roomId %></div>
<!-- changeDMForm -->
<form action="/index/changeDM" method="POST" class="d-none" id="changeDMForm">
    <input type="text" name="userId" value=<%- name %>>
</form>
<div class="btn-group-vertical w-100 d-none" role="group" aria-label="DM list button group" id="dmList"></div>
<!-- External scripts (just what Tony wrote for room list lol) -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/@pusher/chatkit-client@1/dist/web/chatkit.js"></script>
<!-- These were commented out because it broke my code, reject this change -->
<!--
<script type="text/javascript" src="/js/DirectMessageList.js"></script>
-->