<div style="position:absolute;top:-20000px" id="name"><%= name %></div>
<!--probably wont need this for friend list but just in case-->
<div style="position:absolute;top:-20000px" id="roomId"><%= roomId%></div>

<div