<h2 id="name"><%= name %></h2>
<ul id="message-list"></ul>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/@pusher/chatkit-client@1/dist/web/chatkit.js"></script>
<script>
    //Gets the ChatKit userId (identical to the Bubble username)
    var username = document.getElementById("name").textContent;

    /**
     * Experimental
     * We are using our own token provider instead of ChatKit's native token provider right now, the native one 
     * supports production usage while our own supports experimental usage
    */
    const tokenProvider = new Chatkit.TokenProvider({
        url: "https://us1.pusherplatform.io/services/chatkit_token_provider/v1/c8c2181d-9998-47f7-afab-c3978ecf675c/token"
    });

    //Initializes our ChatKit's chatmanager
    const chatManager = new Chatkit.ChatManager({
        instanceLocator: "v1:us1:c8c2181d-9998-47f7-afab-c3978ecf675c",
        userId: username,
        tokenProvider: tokenProvider
    });

    chatManager
        .connect()
        //Renders the messages from the first room that the user is in 
        .then(currentUser => {
            currentUser.subscribeToRoomMultipart({
                roomId: currentUser.rooms[0].id,
                hooks: {
                    onMessage: message => {
                        const ul = document.getElementById("message-list");
                        const li = document.createElement("li");
                        li.appendChild(
                            document.createTextNode(`${message.senderId}: ${
                                message.parts[0].payload.content
                                }`));
                        ul.appendChild(li);
                    }
                }
            });
        })
        .catch(error => {
            console.error("error:", error);
        });
</script>