<div style="position:absolute;top:-20000px" id="name"><%= name %></div>
<h2><%= name %></h2>
<div class = "row">
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title" id="hd0"></h5>
          <p class="card-text" id="0"></p>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title" id="hd1"></h5>
          <p class="card-text" id="1"></p>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title" id="hd2"></h5>
          <p class="card-text" id="2"></p>
        </div>
    </div>
</div><div class = "row">
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title" id="hd3"></h5>
          <p class="card-text" id="3"></p>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title" id="hd4"></h5>
          <p class="card-text" id="4"></p>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title" id="hd5"></h5>
          <p class="card-text" id="5"></p>
        </div>
    </div>
</div><div class = "row">
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title" id="hd6"></h5>
          <p class="card-text" id="6"></p>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title" id="hd7"></h5>
          <p class="card-text" id="7"></p>
        </div>
    </div>
    <div class="card" style="width: 20rem;">
        <div class="card-body">
          <h5 class="card-title" id="hd8"></h5>
          <p class="card-text" id="8"></p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/@pusher/chatkit-client@1/dist/web/chatkit.js"></script>
<script>
    //Gets the ChatKit userId (identical to the Bubble username)
    var username = document.getElementById("name").textContent;

    /**
     * Experimental
     * We are using our own token provider instead of ChatKit's native token provider right now, the native one 
     * supports production usage while our own supports experimental usage
    */
    const tokenProvider = new Chatkit.TokenProvider({
        url: "https://us1.pusherplatform.io/services/chatkit_token_provider/v1/c8c2181d-9998-47f7-afab-c3978ecf675c/token"
    });

    //Initializes our ChatKit's chatmanager
    const chatManager = new Chatkit.ChatManager({
        instanceLocator: "v1:us1:c8c2181d-9998-47f7-afab-c3978ecf675c",
        userId: username,
        tokenProvider: tokenProvider
    });

    chatManager
        .connect()
        .then(currentUser => {
            var userArray = [];
            currentUser.subscribeToRoomMultipart({
                roomId: currentUser.rooms[0].id,
                hooks: {
                    onMessage: message => {
                        var roomId = currentUser.rooms[0].id;
                        userArray = currentUser.rooms[0].users;
                        for (var i = 0; i < userArray.length; i++) {
                            console.log(i);
                            console.log(userArray.length)
                            var cardUser = userArray[i];
                            var lastMessage;
                            currentUser.fetchMultipartMessages({
                                roomId: roomId,
                                direction: 'newer',
                                limit: 100,
                            })
                                .then(messages => {
                                    for (var j = 0; j < 100; j++) {
                                        if (messages[j].sender.id === cardUser.id) {
                                            console.log(i);
                                            lastMessage = messages[j].parts[0].payload.content;
                                            var cardId = j.toString();
                                            var cardUserId = "hd" + cardId;
                                            document.getElementById(cardId).innerHTML = lastMessage;
                                            document.getElementById(cardUserId).innerHTML = cardUser.id;
                                            break;
                                        } else {
                                            lastMessage = `${user} has not sent a message in this room recently`;
                                            var cardId = j.toString();
                                            var cardUserId = "hd" + cardId;
                                            document.getElementById(cardId).innerHTML = lastMessage;
                                            document.getElementById(cardUserId).innerHTML = cardUser.id;
                                            break;
                                        }
                                    }
                                })
                                .catch(err => {
                                    console.log(`Error fetching messages: ${err}`)
                                })
                        }
                    }
                }
            });
        })
        .catch(error => {
            console.error("error:", error);
        });
</script>