<!-- Rendered data -->
<div style="position:absolute;top:-20000px" id="name"><%= name %></div>
<div style="position:absolute;top:-20000px" id="roomId"><%= roomId %></div>
<!-- Choosing modes -->
<div class="row" id="chooseYourPoison">
    <div class="col-12">
        <div class="btn-group" role="group" style="padding:0px">
            <button type="button" id="bubBtn" class="btn btn-primary rounded-0" value="Bubble Mode">Bubble</button>
            <button type="button" id="logBtn" class="btn btn-secondary rounded-0" value="Log Mode">Chat Log</button>
        </div>
    </div>
</div>
<!-- Bubble mode -->
<div id="bub">
    <div class="row bubbleRow pr-3">
        <div class="col-4 pr-0">
            <div class="card h-100">
                <div class="card-body h-100">
                    <h5 class="card-title" id="hd0"></h5>&nbsp;
                    <p class="card-text" id="0"></p>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-4 px-0">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" id="hd1"></h5>&nbsp;
                    <p class="card-text" id="1"></p>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-4 px-0">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" id="hd2"></h5>&nbsp;
                    <p class="card-text" id="2"></p>&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row bubbleRow pr-3">
        <div class="col-4 pr-0">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" id="hd3"></h5>&nbsp;
                    <p class="card-text" id="3"></p>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-4 px-0">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" id="hd4"></h5>&nbsp;
                    <p class="card-text" id="4"></p>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-4 px-0">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" id="hd5"></h5>&nbsp;
                    <p class="card-text" id="5"></p>&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="row bubbleRow pr-3">
        <div class="col-4 pr-0">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" id="hd6"></h5>&nbsp;
                    <p class="card-text" id="6"></p>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-4 px-0">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" id="hd7"></h5>&nbsp;
                    <p class="card-text" id="7"></p>&nbsp;
                </div>
            </div>
        </div>
        <div class="col-4 px-0">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title" id="hd8"></h5>&nbsp;
                    <p class="card-text" id="8"></p>&nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Chat Log mode -->
<div id="log" style="display:none">
    <div class="card px-3 vh-100" style="padding-bottom:69px">
        <div class="card-body"></div>
        <h5 class="card-title" id="titId"></h5>
        <div style="overflow-y:scroll">
            <p class="card-text">
                <ul id="logList" style="list-style-type:none; padding:0"></ul>
            </p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/@pusher/chatkit-client@1/dist/web/chatkit.js"></script>
<script>
    //Gets the ChatKit userId (identical to the Bubble username)
    var username = document.getElementById("name").textContent;

    //Gets the ChatKit roomId 
    var roomId = document.getElementById("roomId").textContent;

    /**
     * Experimental
     * We are using our own token provider instead of ChatKit's native token provider right now, the native one 
     * supports production usage while our own supports experimental usage
    */
    const tokenProvider = new Chatkit.TokenProvider({
        url: "https://us1.pusherplatform.io/services/chatkit_token_provider/v1/c8c2181d-9998-47f7-afab-c3978ecf675c/token"
    });

    //Initializes our ChatKit's chatmanager
    const chatManager = new Chatkit.ChatManager({
        instanceLocator: "v1:us1:c8c2181d-9998-47f7-afab-c3978ecf675c",
        userId: username,
        tokenProvider: tokenProvider
    })

    chatManager
        .connect()
        .then(currentUser => {
            //Default room
            if (roomId === "jPBGwdGQli") {
                roomId = currentUser.rooms[0].id;
            }
            var userArray = [];
            currentUser.subscribeToRoomMultipart({
                roomId: roomId,
                hooks: {
                    onMessage: message => {
                        //Chat log mode
                        const ul = document.getElementById("logList");
                        //Adds the message to the log if it belongs to the user
                        if (message.sender.id === currentUser.id) {
                            var li = document.createElement("li");
                            li.appendChild(document.createTextNode(message.parts[0].payload.content));
                            ul.appendChild(li);
                        }
                        const h5 = document.getElementById("titId");
                        h5.innerHTML = currentUser.name;
                        //Bubble mode
                        //Gets the most recent 100 messages ordered from newest to oldest
                        currentUser.fetchMultipartMessages({
                            roomId: roomId,
                            direction: 'newer',
                            limit: 100,
                        })
                            .then(messages => {
                                var currentRooms = currentUser.rooms;
                                var thisRoom;
                                currentRooms.forEach(element => {
                                    if (element.id === roomId) {
                                        thisRoom = element;
                                    } 
                                });
                                //Gets an array of all users in the room
                                var userArray = thisRoom.users;
                                //Loops through all the users to get content for each card
                                for (let i = 0; i < userArray.length; i++) {
                                    var cardUser = userArray[i];
                                    //Loops for the 
                                    for (let j = 0; j < messages.length; j++) {
                                        if (messages[j].sender.id === cardUser.id) {
                                            //Gets the text portion of the most recent message
                                            lastMessage = messages[j].parts[0].payload.content;
                                            //Get the card component ids
                                            var cardId = i.toString();
                                            var cardUserId = "hd" + cardId;
                                            //Changes the card components
                                            document.getElementById(cardId).innerHTML = lastMessage;
                                            document.getElementById(cardUserId).innerHTML = cardUser.id;
                                        } else if (i === (messages.length - 1)) {
                                            //This will only be triggered if no message sent from this user is found in the recent 100 msgs
                                            lastMessage = `${cardUser} has not sent a message in this room recently`;
                                            //Get the card component ids
                                            var cardId = j.toString();
                                            var cardUserId = "hd" + cardId;
                                            //Changes the card components
                                            document.getElementById(cardId).innerHTML = lastMessage;
                                            document.getElementById(cardUserId).innerHTML = cardUser.id;
                                        }
                                    }
                                }
                            })
                            .catch(err => {
                                console.log(`Error fetching messages: ${err}`);
                            });
                    }
                }
            });
        })
        .catch(error => {
            console.error("error:", error);
        });
</script>
<script>
    //Set the height of each bubble
    var viewportHeight = $(window).height();
    var bubbleHeight = (viewportHeight-70)/3;
    $(".bubbleRow").height(bubbleHeight);

    $(document).ready(() => {
        //Chat log button clicked
        $("#logBtn").click(() => {
            $("#logBtn").removeClass();
            $("#logBtn").addClass("btn btn-primary rounded-0");
            $("#bubBtn").removeClass();
            $("#bubBtn").addClass("btn btn-secondary rounded-0");
            $("#log").removeClass();
            $("#log").addClass("d-block");
            $("#bub").removeClass();
            $("#bub").addClass("d-none");
        });
        //Bubble button clicked
        $("#bubBtn").click(() => {
            $("#logBtn").removeClass();
            $("#logBtn").addClass("btn btn-secondary rounded-0");
            $("#bubBtn").removeClass();
            $("#bubBtn").addClass("btn btn-primary rounded-0");
            $("#bub").removeClass();
            $("#bub").addClass("d-block");
            $("#log").removeClass();
            $("#log").addClass("d-none");
        });
    });
</script>