<div style="position:absolute;top:-20000px" id="name"><%= name %></div>
<!-- Button that calls the modal popup -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createRoomModal">
  Create room
</button>
<!-- createRoomModal popup -->
<div class="modal fade" tabindex="-1" role="dialog" id="createRoomModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create new room</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/index/newRoom" method="POST" id="roomForm">
          <div class="form-group">
            <label for="inputUser">Username</label>
            <input type="text" class="form-control" name="inputUser" id="inputUser" value=<%- name %> readonly>
          </div>
          <div class="form-group">
            <label for="roomName">Room name</label>
            <input type="text" class="form-control" name="roomName" id="roomName" placeholder="Room name">
          </div>
          <div class="form-group">
            <label for="roomId">Room Id</label>
            <input type="text" class="form-control" name="roomId" id="roomId" placeholder="Room Id">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" form="roomForm" class="btn btn-primary">Create Room</button>
      </div>
    </div>
  </div>
</div>