<div style="position:absolute;top:-20000px" id="name"><%= name %></div>
<div style="position:absolute;top:-20000px" id="roomId"><%= roomId %></div>
<!-- changeRoomForm -->
<form action="/index/changeRoom" method="POST" class="d-none" id="changeRoomForm">
    <input type="text" name="userId" value=<%- name %>>
</form>
<div class="btn-group-vertical w-100" role="group" aria-label="Room list button group" id="roomList"></div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/@pusher/chatkit-client@1/dist/web/chatkit.js"></script>
<script>
    //Gets the ChatKit userId (identical to the Bubble username)
    var username = document.getElementById("name").textContent;

    //Gets the ChatKit roomId 
    var roomId = document.getElementById("roomId").textContent;

    chatManager
        .connect()
        //Renders the messages from the first room that the user is in 
        .then(currentUser => {
            const div = document.getElementById("roomList");
            //Gets all user rooms in an array
            const userRooms = currentUser.rooms;
            //Loops through the user's rooms
            userRooms.forEach(element => {
                //Makes a room input button for each room in the array
                var button = document.createElement("button");
                if (roomId === element.id) {
                    button.setAttribute("class", "btn btn-success roomName rounded-0 w-100 px-0 mx-0");
                } else {
                    button.setAttribute("class", "btn btn-outline-success roomName rounded-0 w-100 px-0 mx-0");
                }
                button.setAttribute("form", "changeRoomForm");
                button.setAttribute("type", "submit");
                button.setAttribute("id", element.id);
                button.setAttribute("value", element.id);
                button.setAttribute("name", "changeRoomName");
                button.innerHTML = element.name;
                div.appendChild(button); 
            });
        })
        .catch(error => {
            console.error("error:", error);
        });
</script>