<div style="position:absolute;top:-20000px" id="name"><%= name %></div>
<div class="btn-group-vertical w-100" role="group" aria-label="Room list button group" id="roomList"></div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/@pusher/chatkit-client@1/dist/web/chatkit.js"></script>
<script>
    //Gets the ChatKit userId (identical to the Bubble username)
    var username = document.getElementById("name").textContent;

    chatManager
        .connect()
        //Renders the messages from the first room that the user is in 
        .then(currentUser => {
            const div = document.getElementById("roomList");
            //Gets all user rooms in an array
            const userRooms = currentUser.rooms;
            //Loops through the user's rooms
            userRooms.forEach(element => {
                //Makes a room button for each room in the array
                var button = document.createElement("button");
                button.setAttribute("class", "btn btn-secondary roomName rounded-0 w-100 px-0 mx-0");
                button.setAttribute("id", element.id);
                button.innerHTML = element.name;
                div.appendChild(button); 
            });
            $(document).ready(() => {
                //Sends a POST request when a room button is clicked
                $(".roomName").click((e) => {
                    $.post("index/changeRoom", { userId: username, changeRoomName: e.target.id }, (res) => {
                        document.open();
                        document.write(res);
                    });
                });
            });
        })
        .catch(error => {
            console.error("error:", error);
        });
</script>