<div style="position:absolute;top:-20000px" id="name"><%= name %></div>
<form id="message-form">
    <input type='text' id='message-text'>
    <input type="submit">
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/@pusher/chatkit-client@1/dist/web/chatkit.js"></script>
<script>
    //Gets the ChatKit userId (identical to the Bubble username)
    var username = document.getElementById("name").textContent;

    chatManager
        .connect()
        //When the message input is detected, a simple mesage is sent to the chatkit servers
        .then(currentUser => {
            const form = document.getElementById("message-form");
            form.addEventListener("submit", e => {
                e.preventDefault();
                const input = document.getElementById("message-text");
                currentUser.sendSimpleMessage({
                    text: input.value,
                    roomId: currentUser.rooms[0].id
                })
                .then(res => console.log('sent message with id', res.id))
                .catch(err => console.error(err));
                input.value = "";
            });
        })
        .catch(error => {
            console.error("error:", error);
        });
</script>