<div style="position:absolute;top:-20000px" id="name"><%= name %></div>
<div style="position:absolute;top:-20000px" id="roomId"><%= roomId %></div>
<!-- sendMessageForm view -->
<form class="fixed-bottom d-flex" id="message-form">
    <input type='text' id='message-text' class="flex-grow-1">
    <input type="submit">
</form>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://unpkg.com/@pusher/chatkit-client@1/dist/web/chatkit.js"></script>
<script>
    //Gets the ChatKit userId (identical to the Bubble username)
    var username = document.getElementById("name").textContent;

    //Gets the ChatKit roomId 
    var roomId = document.getElementById("roomId").textContent;

    chatManager
        //Connect to chatkit servers
        .connect()
        .then(currentUser => {
            const form = document.getElementById("message-form");
            //When the message input is detected, a simple mesage is sent to the chatkit servers
            form.addEventListener("submit", e => {
                e.preventDefault();
                const input = document.getElementById("message-text");
                //Sending input
                currentUser.sendSimpleMessage({
                    text: input.value,
                    roomId: roomId
                })
                .then()
                .catch(err => console.error(err));
                //Clear input form
                input.value = "";
            });
        })
        .catch(error => {
            console.error("error:", error);
        });
</script>