body{
    font-family: 'Open Sans', sans-serif;
    background:#3498db;
    margin: 0 auto 0 auto;  
    width:100%; 
    text-align:center;
    margin: 20px 0px 20px 0px;   
  }

  h1{
      font-size:1.5em;
      color:#525252;
  }

  .topBox{
      height:149px
  }
  
  .box{
    background:white;
    width:400px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
    border: #2980b9 4px solid; 
    height:220px;
  }

  .inputField{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:350px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
  }

  #regBtn{
    float:left;
    background:#3498db;
    width:350px;  
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2980b9 1px solid;
    
    margin-top:10px;
    margin-bottom:5px;
    margin-left:24px;
    font-weight:550;
    font-size:0.9em;
  }
  
  #regBtn:hover{ 
  background:#3594D2; 
  }

  #loginBtn{
    background:#2ecc71;
    width:350px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;
    
    margin-top:5px;
    margin-bottom:5px;
    float:left;
    margin-left:24px;
    font-weight:550;
    font-size:0.9em;
  }
  
  #loginBtn:hover{
    background:#2CC06B; 
  }
