<!-- Rendered data -->
<div id="roomType" class="d-none"><%= roomType %></div>

<html lang=en class="vw-100 vh-100">

<head>
  <meta charset=utf-8>
  <title>Chatkit demo</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body class="h-100">
  <div id="bubbleApp" class="vh-100">
    <% include ./partials/messages %>
    <!-- Bubble app -->
    <div class="row h-100" id="bubbleMainBody">
      <!-- Main UI -->
      <% if(roomType === 'normal') { %>
      <div class="col-9 mh-100" id="messageList-and-aux">
        <% include ./bubbleComponents/MessageList %>
      </div>
      <% } %>
      <% if(roomType === 'DM') { %>
      <div class="col-9 mh-100" id="directmessageList-and-aux">
        <% include ./bubbleComponents/DirectMessageList %>
      </div>
      <% } %>
      <!-- Sidebar -->
      <div class="col-3 px-0 pb-rooms mh-100 d-flex flex-column" id="rooms-group-dm" style="padding-bottom:31px">
        <% include ./bubbleComponents/ChooseRooms %>
        <div class="btn-group btn-group-vertical d-flex" id="indexRoomList" role="group">
          <% include ./bubbleComponents/RoomList %>
        </div>
        <div class="flex-grow-1 bg-secondary"></div>
        <!-- Modal popups -->
        <div class="btn-group" role="group">
          <% include ./bubbleComponents/NewRoomForm %>
          <% include ./bubbleComponents/JoinRoomForm %>
        </div>
        <div class="btn-group" role="group">
          <% include ./bubbleComponents/NewDMForm %>
          <% include ./bubbleComponents/AddFriendForm %>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Input box -->
      <div class="col-md-12">
          <% include ./bubbleComponents/SendMessageForm %>
      </div>
    </div>
  </div>
</body>
</html>