<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Chatkit demo</title>
  </head>
  <body>
    <div id="bubbleApp">
      <% include ./partials/messages %>
      <% include ./bubbleComponents/MessageList %>
      <% include ./bubbleComponents/SendMessageForm %>
      <br><br>
      <% include ./bubbleComponents/NewRoomForm %>
      <% include ./bubbleComponents/JoinRoomForm %>
    </div>
  </body>
</html>