<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Chatkit demo</title>
  </head>
  <body>
    <% include ./bubbleComponents/MessageList %>
    <% include ./bubbleComponents/SendMessageForm %>
  </body>
</html>