<html lang=en>
  <head>
    <meta charset=utf-8>
    <title>Chatkit demo</title>
  </head>
  <body>
    <ul id="message-list"></ul>
    <form id="message-form">
      <input type='text' id='message-text'>
      <input type="submit">
    </form>

    <script src="https://unpkg.com/@pusher/chatkit-client@1/dist/web/chatkit.js"></script>
    <script src="index.js"></script>
  </body>
</html>