<div class="row mt-5">
    <div class="col-md-6 m-auto">
       <div class="card card-body text-center">
          <h1><img src="https://i.imgur.com/VkQyhKs.jpg" id="bubbleIcon" alt="Bubble Logo" style="max-width:100%;max-height:100%;"/></h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-primary btn-block mb-2">Register</a>
        <a href="/users/login" class="btn btn-success btn-block">Login</a>
        <a href="/index" class="btn btn-danger btn-block">Secret door</a>
      </div>
    </div>
  </div>
